

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">TarefasApp</a>
    
    <!-- Botão para expandir/colapsar menu em telas pequenas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- ID necessário para o botão de toggle funcionar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuario">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tarefas">Tarefas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/disciplina">Disciplinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/curso">Cursos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Área onde os componentes serão carregados -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
